.index-inner {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

.index-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.study-new {
  margin: 5% 5%;
  text-align: right;
}

.new-button {
  background-color: $color-active;
  color: $color-text-second;
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 4px;

  &:hover {
    opacity: $hover-opacity;
  }
}

.index-contens {
  background-color: #fff;
  padding: 50px;
}

.index-content {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.index-text {
  &:hover {
    color: #0099e8;
    opacity: $hover-opacity;
  }
}