
<%= render "common/header" %>
 <div class="thanks">
    <div class="thanks-inner inner">
      <div class="thanks-container">
        <h1 class="thanks-main-title">ご利用ありがとうございました</h1>
        <h2 class="thanks-main-subtitle">プログラミングに挑戦する道筋が明確になったなら嬉しいです。学習法に迷った時はいつでもお越しください。お待ちしています。</h2>
        <p class="thanks-main-lead">
          学習サービスに使えるクーポンを登録メールアドレスにお送りしましたので、ご確認ください。
        </p>
        <p class="thanks-note">※クーポンの内容はご利用になるサービスによって異なります。詳しくはサービス提供者にお問い合わせください。</p>
        <div class="thanks-button-wrapper">
        <%= link_to 'もう一度診断する', root_path, class: "thanks-main-button" %>
        </div>       
      </div>
    </div>
  </div>

<%= render "common/footer" %>


