<div class="index">
  <div class="index-inner">
      <h2 class="index-title">登録データ一覧</h2>

      <div class="study-new">
        <%= link_to '新規データ登録', new_study_path, class: "new-button" %>
      </div>
      <ul class="index-contens">
        <% @studys.each do |study| %>
        <li class="index-content">
          <%= link_to study.method, edit_study_path(study.id), class: "index-text" %>
        </li>
        <% end %>
      </ul>
    </div>

</div>