<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="header-name">
        <%= link_to current_admin.name, admins_index_path %>
      </div>
    </div>

    <div class="rooms">
      <% @rooms.each do |room| %>
      <div class="room">
        <div class="room-name">
          <%= link_to room.id,  room_messages_path(room.id) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>