/*=============================================
基本設定
=============================================*/
// 色
$color-text-main: #3E3E3E; //テキスト基本
$color-text-second: #F3F3F3; //テキスト白抜き
$color-background-main: #F3F3F3; //背景色基本
$color-background-second: #3E3E3E; //白抜き背景
$color-active: #3366CC; //強調色
$hover-opacity: 0.7; //透明度

// Googleフォント
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&subset=japanese&display=swap');

// フォント
$font-family-default: "游ゴシック体",
"Yu Gothic",
yugothic,
"ヒラギノ角ゴ Pro",
"Hiragino Kaku Gothic Pro",
"メイリオ",
meiryo,
"MS Pゴシック",
"MS PGothic",
sans-serif; // 標準フォント
$font-family-english: 'Montserrat',
sans-serif; // 英語フォント
$font-size-base: 1.6em;
$font-weight-base: 400;
$line-height-base: 1.6;

// レイアウト幅
$layout-width-canvas: 1366px;
$layout-width-inner: 1024px;

// ブレークポイント
$breakpoints: ("sp": "screen and (max-width: 480px)",
	"tab": "screen and (max-width: 896px)",
);

// メディアクエリ
@mixin mq($breakpoint: tab) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

/*=============================================
初期設定
=============================================*/
html {
	font-size: 62.5%;
}

body {
	font-family: $font-family-default;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	color: $color-text-main;
	line-height: $line-height-base;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: $color-background-main;
	overflow-x: hidden;
	overflow-wrap: break-word;
}

a {
	color: $color-text-main;
}

/*=============================================
共通部分
=============================================*/
body {
	// width: $layout-width-canvas;
	max-width: 100%;
	margin: 0 auto;

}

.inner {
	max-width: 100%;
	height: inherit;
	margin: 0 auto;
	padding: 0 10%;

	@include mq('tab') {
		padding: 0 5%;
	}

	@include mq('sp') {
		padding: 0 2%;
	}
}

// z-index
.header-right {
	z-index: 1000;
}

.header-menu {
	z-index: 100;
}

.menu-bg {
	z-index: 10;
}

/*=============================================
header
=============================================*/
.header-inner {
	display: flex;
	justify-content: space-between;
	padding: 15px 5%;
	height: 80px;
	align-items: center;
}

.header-logo {
	img {
		width: 150px;
	}
}

.header-left {}


.header-right {
	display: flex;
	align-items: center;

	@include mq('tab') {
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 80px;
	right: 0;
	bottom: 0;
	transform: translateX(100%);
	transition: all .6s ease;
	flex-direction: column;
	justify-content: center;
	}
}

.header-item {
	margin-right: 15px;
	@include mq('tab') {
	margin-right: 0;
	margin-bottom: 20px;
	font-size: 2.5rem;		
	}
}

.header-sign-up {
	margin-right: 15px;
}

//ハンバーガーメニュー
.header-menu {
	display: none;
	@include mq('tab') {
		background: image-url("menu-icon.png") no-repeat center center;
		background-size: cover;
		width: 50px;
		height: 50px;
		display: block;	

		&:hover {
			cursor: pointer;
		}
	}
}

.menu-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $color-background-second;
	opacity: 0.7;
	visibility: hidden;
}

.open {
	.header-left {
		display: none;
	}
	.header-menu {
		background: image-url("batsu-icon.png") no-repeat center center;
		background-size: cover;
		width: 35px;
		height: 35px;
		position: fixed;
		left: 20px;
		top: 20px;
	}

	.menu-bg {
		visibility: visible;
	}

	.header-right {
		@include mq('tab') {
			transform: translate(0);
			transition: all .6s ease;
		}
	}
}


/*=============================================
footer
=============================================*/
.footer-inner {
	display: flex;
	align-items: center;
	height: 40px;
	justify-content: flex-end;
	background-color: #3E3E3E;
	color: #F3F3F3;

	@include mq('sp') {
		font-size: 1.2rem;
	}
}

/*=============================================
header_manegement
=============================================*/
.m-header-inner {
	display: flex;
	justify-content: space-between;
	padding: 15px 50px;
	height: 80px;
}

.m-header-logo {
	img {
		width: 150px;
	}
}

.m-header-right {
	display: flex;
	align-items: center;
}

.m-header-content {
	margin-right: 15px;

	&:last-child {
		margin-right: 0;
	}

	a {
		background-color: $color-background-second;
		color: $color-text-second;
		display: inline-block;
		padding: 10px;
		font-weight: 700;
		border-radius: 5px;

		&:hover {
			opacity: $hover-opacity;
		}
	}
}

.m-header-sign-up {
	margin-right: 15px;
}